.navbar {
  align-items: center;
  background-color: #5176a6;
  display: flex;
  font-weight: 700;
  height: 4rem;
  margin: -1rem -1rem auto;
}

.navLink {
  color: white;
  flex: 1 auto;
  text-align: center;
  padding: 0 2rem;
}
