.navbar {
  align-items: center;
  background-color: #a64b29;
  border-radius: 8px;
  display: flex;
  font-weight: 700;
  height: 4rem;
}

.navLink {
  color: white;
  flex: 1 auto;
  padding: 0 2rem;
}
