.Minutes {
  flex: 1;
  justify-content: center;
  user-select: none;
}

.Error,
.Title {
  text-align: center;
  user-select: none;
}

.Error {
  height: 2rem;
  margin-top: 1rem;
}

.Title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
